<style type="text/css">
        body {
            background: rgb(125, 198, 205);
            color: rgb(45, 45, 45);
            padding: 10px;
            font-family: arial;
        }
        #all-contents {
            max-width: 800px;
            margin: auto;
        }
    
        /* navigation menu */
        nav {
            background: rgb(55, 88, 158);
            margin: 0 auto;
            border-radius: 10px;
            margin-bottom: 20px;
            display: flex;
            padding: 10px;
        }
        nav header{
                display: flex;
                align-items: center;
                color: rgb(255, 255, 255);
                flex: 1;
            }
        nav h1 {
            display: flex;
            align-items: center;
            color: white;
            flex: 1;
            margin: 0;
        }
        nav ul {
            list-style-image: none;
        }
        nav li {
            display: inline-block;
            padding: 0 10px;
        }
        nav a {
            text-decoration: none;
            color: #fff;
        }
    
        /* main container area beneath menu */
        main {
            background: rgb(245, 238, 219);
            display: flex;
        }
        .sidebar {
            margin-right: 25px;
            padding: 10px;
        }
        .sidebar img {
          border: 2px solid black;
          border-radius: 5px; 
            width: 200px;
        }
        .content {
            flex: 1;
            padding: 15px;
        }
        h2, h3 {
            margin: 0px;
        }

            /* portfolio styles */
#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}

        </style>
        
        
</style>
    </head>
    <body>
        <div id="all-contents">